@charset "UTF-8";
body {
  color: #fff;
  font-family: 'Caveat','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}

header {
  height: 70px;
  width: 100%;
  z-index: 500;
  position: fixed;
}

.header_link {
  display: block;
  position: fixed;
  top: 15px;
  left: 30px;
  width: 60px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
}

.header_link img {
  width: 50px;
}

.header_bg {
  background-color: rgba(124, 156, 156, 0.5);
}

.gnav {
  display: block;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  width: 300px;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: .5s;
  z-index: 3;
}

.gnav .fixed {
  left: 0;
  position: fixed;
  top: 0;
}

.gnav .gnav_inner {
  padding: 25px;
}

.gnav .gnav_inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gnav .gnav_inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}

.gnav .gnav_inner ul li a {
  display: block;
  color: #333;
  font-size: 20px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}

.gnav .gnav_inner ul li a:hover {
  background: #e4e4e4;
}

.open .gnav {
  right: 0;
}

@media screen and (max-width: 767px) {
  .gnav {
    right: -240px;
    width: 240px;
  }
}

@keyframes equalizer01 {
  0% {
    width: 70%;
  }
  10% {
    width: 50%;
  }
  20% {
    width: 100%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 50%;
  }
  50% {
    width: 70%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 10%;
  }
  80% {
    width: 100%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

@keyframes equalizer02 {
  0% {
    width: 30%;
  }
  10% {
    width: 20%;
  }
  20% {
    width: 40%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 20%;
  }
  50% {
    width: 30%;
  }
  60% {
    width: 20%;
  }
  70% {
    width: 10%;
  }
  80% {
    width: 40%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 30%;
  }
}

.toggle_btn {
  display: block;
  position: fixed;
  top: 20px;
  right: 30px;
  width: 60px;
  height: 30px;
  transform: translate(0, 0);
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}

.toggle_btn span {
  display: block;
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  background-color: #fff;
  transition: all .5s;
}

.toggle_btn span:nth-child(1) {
  top: 5px;
  width: 60px;
  animation: equalizer01 7000ms infinite;
}

.toggle_btn span:nth-child(2) {
  top: 15px;
  width: 30px;
  animation: equalizer02 5000ms infinite;
  animation-delay: 0.33s;
}

.toggle_btn span:nth-child(3) {
  top: 25px;
  width: 20px;
  animation: equalizer02 5000ms infinite;
}

.open .toggle_btn {
  right: 330px;
}

.open .toggle_btn span {
  background-color: #fff;
  width: 30px;
}

.open .toggle_btn span:nth-child(1) {
  transform: translate(0, 10px) rotate(-45deg);
  animation: unset;
}

.open .toggle_btn span:nth-child(2) {
  opacity: 0;
  animation: unset;
}

.open .toggle_btn span:nth-child(3) {
  transform: translate(0, -10px) rotate(45deg);
  animation: unset;
}

@media screen and (max-width: 767px) {
  .open .toggle_btn {
    right: 260px;
  }
}

.gnav_mask {
  display: none;
}

.open .gnav_mask {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #999;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
  transition: all .5s;
}

.mainvisual {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: url(../img/mainvisual_pc.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 80px;
  padding-top: 20%;
}

/* more */
.more {
  display: inline-block;
  position: absolute;
  left: 5%;
  bottom: 0;
  z-index: 3;
  padding: 10px 10px 90px;
  overflow: hidden;
  color: #ffffff;
  font-size: 30px;
  line-height: 1;
  letter-spacing: .2em;
  text-transform: uppercase;
  text-decoration: none;
  writing-mode: vertical-lr;
}

.more:hover {
  text-decoration: none;
}

.more::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 30px;
  background: #ffffff;
  animation: sdl 1.5s ease infinite;
}

@keyframes sdl {
  0% {
    transform: translateY(-60px);
  }
  50%, 100% {
    transform: translateY(30px);
  }
}

/* タブレット対応 */
@media screen and (max-width: 769px) {
  .mainvisual {
    background-image: url(../img/mainvisual_sp.jpg);
  }
}

/* iphoneX対応 */
@media screen and (max-width: 480px) {
  .mainvisual {
    font-size: 60px;
    padding-top: 40%;
    height: 70vh;
  }
  .more {
    bottom: 20%;
    font-size: 14px;
  }
}

.container {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  color: #7c9c9c;
}

section {
  margin-top: 100px;
}

h2 {
  text-align: left;
  margin-left: 10%;
  margin-bottom: 50px;
  font-size: 60px;
  letter-spacing: 0.4rem;
  transform: skew(20deg, -10deg);
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 100px auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.contents_text {
  display: block;
  text-align: left;
  font-size: 16px;
  line-height: 2em;
  margin-left: 30px;
}

.contents_text p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about .about_img img {
  width: 250px;
  margin-top: 100px;
  margin-right: 100px;
}

.about .about_detail {
  vertical-align: bottom;
}

.about .about_detail .about_detail_subtitle {
  font-size: 24px;
  text-align: left;
}

.about .about_detail .about_detail_subtitle p {
  margin: 20px 0;
}

.about .about_detail .about_detail_subtitle p:nth-child(1) {
  padding-left: 10%;
}

.about .about_detail .about_detail_subtitle p:nth-child(2) {
  padding-left: 25%;
}

.about .about_detail .about_detail_subtitle p:nth-child(3) {
  padding-left: 40%;
}

.about .about_detail .about_detail_subtitle p:nth-child(4) {
  padding-left: 55%;
}

.skill i {
  font-size: 100px;
  margin: 0 10px;
}

.fa-html5 {
  color: #e06512;
}

.fa-css3-alt {
  color: #4062E4;
}

.fa-js-square {
  color: #EED81C;
}

.fa-php {
  color: #6D88BC;
}

.fa-bootstrap {
  color: #5C3C80;
}

.fa-github {
  color: #696969;
}

.fa-wordpress {
  color: #00ced1;
}

.i_hover {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.i_hover:hover {
  transform: translateY(-0.1875em);
}

.like_text {
  margin-left: -30%;
}

.like_btn img {
  width: 50px;
  margin: 0 auto;
  bottom: 0;
  cursor: pointer;
}

.like_btn img:nth-child(2) {
  margin-left: 50px;
  bottom: -10px;
}

.like_photo {
  position: absolute;
  height: 450px;
  margin-left: 15%;
}

.like_photo img {
  position: absolute;
}

.like_photo .img1 {
  width: 280px;
  z-index: 10;
  transform: skew(5deg, -5deg);
  margin-top: 30px;
}

.like_photo .img2 {
  width: 260px;
  z-index: 20;
  transform: skew(1deg, -1deg);
  margin-top: 10px;
}

.like_photo .img3 {
  width: 250px;
  z-index: 30;
  transform: skew(-7deg, 7deg);
  margin-left: 20px;
  margin-top: 20px;
}

.like_photo .img4 {
  width: 250px;
  z-index: 40;
  transform: skew(-3deg, 3deg);
  margin-left: 30px;
  margin-top: 40px;
}

.like_photo .img5 {
  width: 260px;
  z-index: 50;
  margin-left: 20px;
  margin-top: 40px;
}

.like_photo .img6 {
  width: 270px;
  z-index: 60;
  transform: skew(3deg, -3deg);
  margin-left: -10px;
  margin-top: 40px;
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-container .swiper-slide:hover {
  transition-duration: 0.1s;
  transform: scale(1.1);
  filter: grayscale(30%);
}

.swiper-container .swiper-slide img {
  width: 100%;
  height: auto;
}

.swiper-container .color {
  color: #9cb4b4;
}

.contact .contents {
  display: block;
}

.form {
  display: flex;
  justify-content: center;
}

.form input, .form textarea, .form button {
  font-family: 'ヒラギノ明朝 ProN';
}

.form .name, .form .email {
  height: 50px;
  width: 350px;
  font-size: 16px;
  box-sizing: border-box;
  align-items: center;
}

.form .name {
  margin-bottom: 20px;
}

.form .form-left {
  margin-right: 50px;
}

.form .inquiry {
  height: 120px;
  width: 350px;
  font-size: 16px;
  box-sizing: border-box;
}

.contact button {
  background-color: rgba(124, 156, 156, 0.5);
  color: #fff;
  border: 1px rgba(124, 156, 156, 0.5);
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 60px;
  margin-top: 30px;
  box-sizing: border-box;
  cursor: pointer;
}

.contact button:hover {
  background-color: rgba(124, 156, 156, 0.8);
}

@media screen and (max-width: 769px) {
  .h2 {
    font-size: 50px;
  }
  .contents_text {
    font-size: 14px;
  }
  .skill i {
    font-size: 60px;
  }
  .like_photo {
    margin-left: 5%;
  }
  .form {
    display: block;
  }
  .form .form-left {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .contents {
    margin-top: 50px;
  }
  h2 {
    font-size: 40px;
    margin-bottom: 10px;
    display: block;
    width: 100px;
  }
  .about .about_img img {
    margin-left: 0;
    margin-right: auto;
    width: 180px;
  }
  .about .about_detail_subtitle {
    font-size: 18px;
  }
  .about .contents {
    flex-direction: column-reverse;
  }
  .about i {
    font-size: 80px;
  }
  .like .contents {
    flex-direction: column;
  }
  .like .like_photo {
    position: relative;
    margin-left: -70%;
    margin-top: 30px;
  }
  .like .like_text {
    margin-left: 0;
  }
}

aside {
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 50px;
  border-top: 1px solid #7c9c9c;
  width: 768px;
}

aside a {
  text-decoration: none;
  cursor: pointer;
}

aside a i {
  color: #7c9c9c;
  font-size: 40px;
}

footer {
  display: flex;
  height: 50px;
  width: 100%;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #ffffff;
  background-color: #8cacac;
}

/* iphoneX対応 */
@media screen and (max-width: 480px) {
  aside {
    width: 100%;
  }
}
