.container {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    color: #7c9c9c;
}
section {
    margin-top: 100px;
}
h2 {
    text-align: left;
    margin-left: 10%;
    margin-bottom: 50px;
    font-size: 60px;
    letter-spacing: 0.4rem;
    transform: skew(20deg,-10deg);
}
.contents {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 100px auto;
    flex-direction: row;
    flex-wrap: wrap;
}
.contents_text {
    display: block;
    text-align: left;
    font-size: 16px;
    line-height: 2em;
    margin-left: 30px;
    
    p {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}


////// about /////
.about {
    .about_img img {
        width: 250px;
        margin-top: 100px;
        margin-right: 100px;
    }
    .about_detail {
        vertical-align: bottom;

        .about_detail_subtitle {
            font-size: 24px;
            text-align: left;
            p {
                margin: 20px 0;
                &:nth-child(1) {
                    padding-left: 10%;
                }
                &:nth-child(2) {
                    padding-left: 25%;
                }
                &:nth-child(3) {
                    padding-left: 40%;
                }
                &:nth-child(4) {
                    padding-left: 55%;
                }
            }
        }
    }
}


///// skill /////
.skill i {
    font-size: 100px;
    margin: 0 10px;
}
.fa-html5 {
    color: #e06512;
}
.fa-css3-alt {
    color: #4062E4;
}
.fa-js-square {
    color: #EED81C;
}
.fa-php {
    color: #6D88BC;
}
.fa-bootstrap {
    color: #5C3C80;
}
.fa-github {
    color: #696969;
}
.fa-wordpress {
    color: #00ced1;
}
.i_hover {
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover {
        transform: translateY(-0.1875em);
      }
}


///// like /////
.like_text {
    margin-left: -30%;
}
.like_btn {
    img {
        width: 50px;
        margin: 0 auto;
        bottom: 0;
        cursor: pointer;

        &:nth-child(2) {
            margin-left: 50px;
            bottom: -10px;
        }
    }
}
.like_photo {
    position: absolute;
    height: 450px;
    margin-left: 15%;

    img {
        position: absolute
    }
    .img1 {
        width: 280px;
        z-index: 10;
        transform: skew(5deg,-5deg);
        margin-top: 30px;
    }
    .img2 {
        width: 260px;
        z-index: 20;
        transform: skew(1deg,-1deg);
        margin-top: 10px;
    }
    .img3 {
        width: 250px;
        z-index: 30;
        transform: skew(-7deg,7deg);
        margin-left: 20px;
        margin-top: 20px;
    }
    .img4 {
        width: 250px;
        z-index: 40;
        transform: skew(-3deg,3deg);
        margin-left: 30px;
        margin-top: 40px;
    }
    .img5 {
        width: 260px;
        z-index: 50;
        margin-left: 20px;
        margin-top: 40px;
    }
    .img6 {
        width: 270px;
        z-index: 60;
        transform: skew(3deg,-3deg);
        margin-left: -10px;
        margin-top: 40px;
    }

}


///// product /////
.swiper-container {
    width: 100%;
    height: auto;

    .swiper-slide {
        &:hover {
        transition-duration: 0.1s;
        transform: scale(1.1);
        filter: grayscale(30%);
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    .color {
        color: #9cb4b4;
    }
}


///// form /////
.contact .contents {
    display: block;
}
.form{
    display: flex;
    justify-content: center;
    input, textarea, button {
        font-family: 'ヒラギノ明朝 ProN';
    }
    .name, .email {
        height: 50px;
        width: 350px;
        font-size: 16px;
        box-sizing: border-box;
        align-items: center;
    }
    .name {
        margin-bottom: 20px;
    }  
    .form-left {
        margin-right: 50px;
    }  
    .inquiry {
        height: 120px;
        width: 350px;
        font-size: 16px;
        box-sizing: border-box;
    }
}
.contact button {
    background-color: rgba(124, 156, 156, 0.5);
    color: #fff;
    border: 1px rgba(124, 156, 156, 0.5);
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 60px;
    margin-top: 30px;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
        background-color: rgba(124, 156, 156, 0.8);
    }
}


///// タブレット対応 /////
@media screen and (max-width: 769px) {
    .h2 {
        font-size: 50px;
    }
    .contents_text {
        font-size: 14px;
    }
    .skill i {
        font-size: 60px;
    }
    .like_photo {
        margin-left: 5%;
    }
    .form {
        display: block;
        
        .form-left {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
}


///// iphoneX対応 /////
@media screen and (max-width: 480px) {
    .contents {
        margin-top: 50px;
    }
    h2 {
        font-size: 40px;
        margin-bottom: 10px;
        display: block;
        width: 100px;
    }
    .about {
        .about_img img {
            margin-left: 0;
            margin-right: auto;
            width: 180px;
        }
        .about_detail_subtitle {
            font-size: 18px;
        }
        .contents {
            flex-direction: column-reverse;
        }
        i {
            font-size: 80px;
        }
    }
    .like{
        .contents {
            flex-direction: column;
        }
        .like_photo {
            position: relative;
            margin-left: -70%;
            margin-top: 30px;
        }
        .like_text {
            margin-left: 0;
        }
    }
}
